.App {
  background-color: rgba(241, 241, 241, 0.726);
  height: 100vh;
}
.head {
  background-color: rgb(67, 145, 67);
  color: white;
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
  padding: 10px;
  border: 4px solid rgb(54, 143, 226);
  border-radius: 10px;
}
* {
  font-family: "Segoe UI", sans-serif;
}
