.row {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
}
.contact {
  display: flex;
  align-items: center;
  margin: 5px;
}
img {
  width: 70px;
  object-fit: contain;
  border-radius: 40px;
  margin: 10px 0 10px 0;
}
.contact > p {
  margin: 10px;
}
.fpo,
.action {
  padding: 10px;
}
.icon1 {
  padding-right: 20px;
}
